html {
    position:relative;
}

body,
input,
textarea,
select {
    font-family: 'Open Sans', sans-serif;
}

body.admin-bar main {
    height: calc(100vh - 32px);
}

main {
    width: 100vw;
    height: 100vh;
    position: relative;
}

#mapid {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}

.traces-list {
    background: #FFF;
    position: absolute;
    top: 0;
    right: 0;
    max-width: 350px;
    width: 100%;
    z-index: 400;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    height:100%;
}

.traces-list input,
.traces-list textarea,
.traces-list select {
    width: 100%;
    font-size: 14px;
}

.traces-list .traces-list__traces {
    max-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    z-index: 1;
    background: #FFF;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, .25);
    height:100%;
}

.traces-list .traces-list__filters {
    position: absolute;
    background: #FFF;
    right: 100%;
    width: 100%;
    height: 100%;
    transition: all .3s ease-in-out;
    z-index: -1;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, .25);
}

.traces-list .traces-list__filters:not(.is-active) {
    transform: translateX(100%);
    box-shadow: none;
}

.traces-list .traces-list__content {
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0 20px 10px;
    flex: 1;
}

.traces-list .traces-list__content.is-loading{
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' style='margin:auto;background:transparent;display:block;' width='10px' height='10px' viewBox='0 0 100 100' preserveAspectRatio='xMidYMid'%3E%3Ccircle cx='50' cy='50' r='43' stroke='%2300008b' stroke-width='15' stroke-linecap='round' fill='none'%3E%3CanimateTransform attributeName='transform' type='rotate' repeatCount='indefinite' dur='1s' values='0 50 50;180 50 50;720 50 50' keyTimes='0;0.5;1'%3E%3C/animateTransform%3E%3Canimate attributeName='stroke-dasharray' repeatCount='indefinite' dur='1s' values='17.59291886010284 158.33626974092556;87.96459430051421 87.96459430051421;17.59291886010284 158.33626974092556' keyTimes='0;0.5;1'%3E%3C/animate%3E%3C/circle%3E%3C/svg%3E") center / 50px no-repeat;
}

.traces-list .traces-list__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 10px;
}

.traces-list .traces-list__header h2 {
    font-size: 26px;
}

.information {
    transition: all .3s ease-in-out;
    position: relative;
}

.information:not(.is-active) {
    cursor: pointer;
}

.information:not(.is-active):hover:before {
    width: 6px;
}

.information .information__content {
    overflow: hidden;
    transition: all .3s ease-in-out;
    max-height: 70px;
    padding-top: 10px;
}

.information:after {
    content: "";
    position: absolute;
    left: -20px;
    top: 0;
    bottom: 0;
    right: -20px;
    z-index: -1;
}

.information:nth-child(even):after {
    background: #f5f5f5;
}

.information:before {
    content: "";
    position: absolute;
    top: 0;
    left: -20px;
    bottom: 0;
    width: 3px;
    transition: all .3s ease-in-out;
    background: #CDCDCD;
}

.information:not(:hover) .information__tools {
    transform: translateX(100%) translateX(60px);
}

.information.is-active .information__content {
    max-height: 100vh;
}

.information__title {
    font-weight: 600;
    margin-bottom: 10px;
    display: block;
}

.information__value {
    font-size: 14px;
    margin-bottom: 20px;
}

.information__tools {
    position: absolute;
    right: -20px;
    top: 0;
    background: white;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    transition: all .3s ease-in-out;
    padding: 0 30px 0 10px;
    max-height: 70px;
}

.information__tools:before {
    content: "";
    height: 100%;
    position: absolute;
    right: 100%;
    top: 0;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    width: 60px;
    user-events: none;
    pointer-events: none;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 400;
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, .75);
}

.user-actions {
    position: absolute;
    left: 20px;
    bottom: 20px;
    z-index: 400;
    border-radius: 25px;
    height: 50px;
}

.user-actions a {
    padding: 11.5px 12.5px;
    background: white;
    display: inline-block;
    border-radius: 100%;
    color: black;
    transition: all .3s ease-in-out;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 25%);
}

.user-actions a:not(:last-of-type){
    margin-right:10px;
}

.user-actions a svg {
    width: 25px;
    height: 25px;
}

.user-actions a svg * {
    fill: currentColor;
}

.user-actions a:hover {
    color: red;
}

.c-btn {
    font-size: 1rem;
    line-height: 1;
    font-weight: 700;

    display: inline-table;

    padding: 6px 20px;

    cursor: pointer;
    transition: all .3s ease-in-out;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    border: 3px solid;
    border-radius: 20px;
    outline: none;

    appearance: none;
}

.c-btn--primary {
    border-color: darkblue;
    color: darkblue;
}

.c-btn--primary:hover {
    background-color: darkblue;
    color: #FFF;
}

.c-btn--icon {
    line-height: 0;
    padding: 7.5px;
    border-radius: 50%;
    border: none;
    background: darkblue;
    color: white;
    cursor: pointer;
}

.c-btn--icon:not(:first-of-type) {
    margin-right: 5px;
}

.c-btn--icon svg * {
    fill: currentColor;
}

.c-btn--icon svg {
    width: 10px;
    height: 10px;
}

.login-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #FFF;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 25%);
    padding: 20px;
    z-index: 401;
    width: calc(100% - 40px);
    max-width: 500px;
}

.login-form .pwd input {
    width: 100%;
}

.login-form .flex-form {
    margin-top: 20px;
}

.login-form h1 {
    font-size: 26px;
}

.login-form a {
    color: darkblue;
    text-decoration: none;
}

.login-form a:hover {
    text-decoration: underline;
}

.flex-form {
    display: flex;

    width: 100%;

    flex-wrap: wrap;
    justify-content: space-between;
}

.flex-form__row,
.flex-form__column {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
}

.flex-form__row label,
.flex-form__column label {
    /*width: 100%;*/
}

.flex-form__column *:last-child {
    margin-bottom: 0;
}

.flex-form__submit {
    display: flex;

    width: 100%;
    margin-bottom: 0;

    flex-direction: row-reverse;
    align-items: center;
}

.flex-form label {
    margin-bottom: 10px;
    user-select: none;
}


.flex-form label + * {
    width: 100%;
}

.flex-form input:not([type="submit"]):not([type="radio"]):not([type="checkbox"]),
.flex-form textarea {
    padding: 10px 7px;
    border: 1px solid;
    border-radius: 5px;
}

.flex-form input:focus {
    border-color: darkblue !important;
}

.flex-form input[type=checkbox] + label {
    position: relative;
    z-index: 1;
    padding-left: 15px;
    cursor: pointer;
    margin: 0;
}

.flex-form input[type=checkbox] + label:before {
    content: "";
    background: #FFF;
    width: 15px;
    height: 15px;
    position: absolute;
    right: 100%;
    top: 0;
    z-index: -1;
    border: 1px solid;
    border-radius: 5px;
    transform: translateX(4px);
    transition: all .3s ease-in-out;
}

.flex-form input[type=checkbox]:checked + label:before {
    background: darkblue;
}

.flex-form__submit input,
.flex-form__submit button {
    position: relative;
    z-index: 1;
}

@media screen and (min-width: 551px) {
    .flex-form__row {
        margin-bottom: 35px;
    }

    .flex-form__column {
        width: calc(100% / 2 - 10px);
        margin-bottom: 35px;
    }
}