<!-- cookie disclaimer -->
<div class="cookie-wrapper is-hidden js-cookie-message">
    <div class="content-block">
        <article class="article__cookie">
            <h2>Wij maken gebruik van cookies</h2>
            <p>Om jouw bezoek aan onze website nóg makkelijk en persoonlijker te maken zetten we cookies (en daarmee
                vergelijkbare technieken) in. Met deze cookies kunnen wij en derde partijen informatie over jou
                verzamelen en jouw internetgedrag binnen (en mogelijk ook buiten) onze website volgen. Met deze
                informatie passen wij en derde partijen content of advertenties aan jouw interesses en profiel aan.
                Daarnaast is het dankzij cookies mogelijk informatie te delen via social media.
                <a href="#">Lees meer over onze cookies ›</a>
            </p>
        </article>
        <div class="cookie-buttons--wrapper">
            <button class="c-btn c-btn--pink js-cookie-accept">Ik ga akkoord</button>
        </div>
    </div>
</div>
<!-- /cookie disclaimer -->