<div class="user-actions">
    <a href="{{ wp_logout_url(get_home_url()) }}" title="Uitloggen als {{ wp_get_current_user().data.user_login }}">{{ source('assets/img/ico-logout.svg') }}</a>
    <a href="#" title="Mijn locatie">{{ source('assets/img/ico-gps.svg') }}</a>
</div>